<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-1.7.2.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta http-equiv="refresh" content="60">
    <title>Ridgeline Dashboard</title>
</head>

<body>
    <script src="{{ url_for('js_functions') }}"></script>
    <div id="popup-table" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 id="popup-table-header">Header</h2>
            </div>
            <div class="modal-body">
                <table class="ticket-table">
                    <thead>
                        <tr id="ticket-table-head">
                            <th style='width:10%'>Customer</th>
                            <th style='width:50%'>Title</th>
                            <th style='width:10%'>Last Updated</th>
                            <th style='width:10%'>Assigned</th>
                            <th style='width:10%'>Status</th>
                            <th style='width:10%'>Priority</th>
                        </tr>
                    </thead>
                    <tbody id="ticket-table">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="data-container" style="grid-row:1/2; grid-column: 1/3;">
        <span class="data-container-header">
            Mojo Information
        </span>
        <div class="statistic-container" id="open_tickets_container">
            <span class="statistic-container-header">
                Open Tickets
            </span>
            <span class="statistic-container-data" id="open_tickets">
                <script>document.write(conditionalColor({{ open_tickets }}, 80, 40));</script>
            </span>
        </div>
        <div class="statistic-container" id="helpdesk_tickets_container">
            <span class="statistic-container-header">
                Help Desk
            </span>
            <span class="statistic-container-data" id="helpdesk_tickets">
                <script>document.write(conditionalColor({{ hd_tickets }}, 15, 7));</script>
            </span>
        </div>
        <div class="statistic-container" id="inactive_tickets_container">
            <span class="statistic-container-header">
                Projects
            </span>
            <span class="statistic-container-data" id="inactive_tickets">
                <script>document.write(conditionalColor({{ project_tickets }}, 20, 10));</script>
            </span>
        </div>
        <div class="statistic-container" id="internalproject_tickets_container">
            <span class="statistic-container-header">
                Internal Projects
            </span>
            <span class="statistic-container-data" id="internalproject_tickets">
                <script>document.write(conditionalColor({{ internalproject_tickets }}, 20, 10));</script>
            </span>
        </div>
        <div class="statistic-container">
            <span class="statistic-container-header">
                Unassigned Tickets
            </span>
            <span class="statistic-container-data" id="unassigned_tickets">
                <script>document.write(conditionalColor({{ unassigned_tickets }}, 6, 3));</script>
            </span>
        </div>
        <div class="statistic-container">
            <span class="statistic-container-header">
                Active Help Desk
            </span>
            <span class="statistic-container-data">
                <script>document.write(conditionalColor({{ activehd_tickets }}, {{ hd_tickets }}/3, {{ hd_tickets }}/2, true));</script>
            </span>
        </div>
        <div class="statistic-container">
            <span class="statistic-container-header">
                Active Projects
            </span>
            <span class="statistic-container-data">
                <script>document.write(conditionalColor({{ activeproject_tickets }}, {{project_tickets}}/3, {{ project_tickets }}/2, true));</script>
            </span>
        </div>
        <div class="statistic-container">
            <span class="statistic-container-header">
                Kill Ratio (7d)
            </span>
            <span class="statistic-container-data">
                <script>document.write(conditionalColor({{ kill_ratio }}, 0.8, 1.0, true));</script>
            </span>
        </div>
    </div>
    <div class="data-container" style="grid-row:1/2; grid-column: 3/5;">
        <span class="data-container-header">
            Kaseya Information
        </span>
        <div class="statistic-container" id="inactive_agents_container">
            <span class="statistic-container-header">
                Inactive Agents
            </span>
            <span class="statistic-container-data" id="inactive_agents">
                <script>document.write(conditionalColor({{ inactive_agents }}, 20, 10));</script>
            </span>
        </div>
        <div class="statistic-container" id="out_of_date_agents_container">
            <span class="statistic-container-header">
                Pending Patches
            </span>
            <span class="statistic-container-data" id="out_of_date_agents">
                <script>document.write(conditionalColor({{ ood_agents }}, 100, 50));</script>
            </span>
        </div>
        <div class="statistic-container" id="recent_alarms_container">
            <span class="statistic-container-header">
                Alarms (24h)
            </span>
            <span class="statistic-container-data" id="recent_alarms">
                <script>document.write(conditionalColor({{ recent_alarms }}, 5, 1));</script>
            </span>
        </div>
        <div class="statistic-container" id="out_of_date_agents_container">
            <span class="statistic-container-header">
                Pending Critical Patches
            </span>
            <span class="statistic-container-data" id="out_of_date_agents">
                <script>document.write(conditionalColor({{ critical_agents }}, 40, 20));</script>
            </span>
        </div>
        <div class="statistic-container" style="grid-row: 2 / 4; grid-column: 1/3;">
            <span class="statistic-container-header">
                Agent Status
            </span>
            <div class="chart" id="agents_chart" style="width: 300px; height: 200px;"></div>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                var all_agents = JSON.parse({{ all_agents | tojson | safe}});
                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawChart);
                google.charts.setOnLoadCallback(drawBackupsChart);
                google.charts.setOnLoadCallback(drawCometDeviceChart);
                google.charts.setOnLoadCallback(drawRUONChart);

                online = 0;
                offline = 0;

                for (var obj of all_agents) {
                    if (obj.IsOnline) {
                        online += 1;
                    } else {
                        offline += 1;
                    }
                }

                function drawChart() {

                    var data = google.visualization.arrayToDataTable([
                        ['Status', 'Count'],
                        ['Online', online],
                        ['Offline', offline - {{ inactive_agents }}],
                ['Inactive', {{ inactive_agents }}],
                        ]);

                var options = {
                    'chartArea': { 'width': '100%', 'height': '90%' },
                    colors: ['green', 'orange', 'red'],
                    backgroundColor: { fill: 'transparent' },
                    legendTextStyle: { color: '#FFF' },
                    pieSliceText: 'value',
                    pieSliceTextStyle: { fontSize: 20 }
                };

                var chart = new google.visualization.PieChart(document.getElementById('agents_chart'));

                chart.draw(data, options);
                    }

                jobs_statuses = JSON.parse({{ jobs_statuses | tojson | safe}})

                function drawBackupsChart() {

                    var data = google.visualization.arrayToDataTable([
                        ['Status', 'Count'],
                        ['Success', jobs_statuses.Success],
                        ['Warning', jobs_statuses.Warning],
                        ['Missed', jobs_statuses.Missed],
                        ['Skipped', jobs_statuses.Skipped],
                        ['Failed', jobs_statuses.Error],
                    ]);

                    var options = {
                        'chartArea': { 'width': '90%', 'height': '90%' },
                        colors: ['green', 'yellow', 'orange', 'blue', 'red'],
                        legendTextStyle: { color: '#FFF' },
                        backgroundColor: { fill: 'transparent' },
                        pieSliceText: 'value',
                        pieSliceTextStyle: { fontSize: 20 }
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('backups_chart'));

                    chart.draw(data, options);
                }

                device_counts = JSON.parse({{ device_counts | tojson | safe }})

                function drawCometDeviceChart() {

                    var data = google.visualization.arrayToDataTable([
                        ['Status', 'Count'],
                        ['Online', device_counts.online],
                        ['Offline', device_counts.total - device_counts.online]
                    ]);

                    var options = {
                        'chartArea': { 'width': '90%', 'height': '90%' },
                        colors: ['green', 'red'],
                        legendTextStyle: { color: '#FFF' },
                        backgroundColor: { fill: 'transparent' },
                        pieSliceText: 'value',
                        pieSliceTextStyle: { fontSize: 20 }
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('comet_device_chart'));

                    chart.draw(data, options);
                }

                ruon_statuses = JSON.parse({{ ruon_statuses | tojson | safe }})

                function drawRUONChart() {

                    var data = google.visualization.arrayToDataTable([
                        ['Status', 'Count'],
                        ['No Issues', ruon_statuses.Okay],
                        ['Minor Alarm', ruon_statuses.Minor],
                        ['Major Alarm', ruon_statuses.Major],
                        ['Critical Alarm', ruon_statuses.Critical]
                    ]);

                    var options = {
                        'chartArea': { 'width': '100%', 'height': '90%' },
                        colors: ['green', 'yellow', 'orange', 'red'],
                        backgroundColor: { fill: 'transparent' },
                        legend: 'none',
                        //legendTextStyle: { color: '#FFF' },
                        pieSliceText: 'value',
                        pieSliceTextStyle: { fontSize: 20 }
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('ruon_chart'));

                    chart.draw(data, options);
                }
            </script>
        </div>
    </div>
    <div class="data-container" style="grid-row:2/3; grid-column: 1/2;">
        <span class="data-container-header">
            Comet Information
        </span>
        <div class="statistic-container" style="grid-row: 2 / 4;">
            <span class="statistic-container-header">
                Device Status
            </span>
            <div class="chart" id="comet_device_chart" style="width: 300px; height: 200px;"></div>
        </div>
        <div class="statistic-container" style="grid-row: 2 / 4;">
            <span class="statistic-container-header">
                Backup Jobs (24h)
            </span>
            <div class="chart" id="backups_chart" style="width: 300px; height: 200px;"></div>
        </div>
    </div>
    <div class="data-container" style="grid-row:2/3; grid-column: 2/5;">
        <span class="data-container-header" style="grid-column:1/3">
            DNSFilter Information (2h)
        </span>
        <div class="statistic-container" style="grid-row: 2 / 3; grid-column: 1/2;">
            <span class="statistic-container-header">
                Blocked Requests
            </span>
            <span class="statistic-container-data" id="dnsfilter_blocks">
                {{dnsfilter_numbers_2h['blocked']}}
            </span>
        </div>
        <div class="statistic-container" style="grid-row: 2 / 3; grid-column: 2/3;">
            <span class="statistic-container-header">
                Threats
            </span>
            <span class="statistic-container-data" id="dnsfilter_threats">
                {{dnsfilter_numbers_2h['threats']}}
            </span>
        </div>
        <div class="statistic-container" style="grid-row: 3 / 4; grid-column: 1/3;">
            <span class="statistic-container-header">
                Top 5 w/ Most Threats
            </span>
            {% for item in dnsfilter_top5_2h %}
            <div class="statistic-container">
                <span>{{ item }} - {{ dnsfilter_top5_2h[item] }} Threats</span> 
            </div>
            {% endfor %}
        </div>
        <span class="data-container-header" style="grid-column:3/5">
            DNSFilter Information (24h)
        </span>
        <div class="statistic-container" style="grid-row: 2 / 3; grid-column: 3/4;">
            <span class="statistic-container-header">
                Blocked Requests
            </span>
            <span class="statistic-container-data" id="dnsfilter_blocks">
                {{dnsfilter_numbers_24h['blocked']}}
            </span>
        </div>
        <div class="statistic-container" style="grid-row: 2 / 3; grid-column: 4/5;">
            <span class="statistic-container-header">
                Threats
            </span>
            <span class="statistic-container-data" id="dnsfilter_threats">
                {{dnsfilter_numbers_24h['threats']}}
            </span>
        </div>
        <div class="statistic-container" style="grid-row: 3 / 4; grid-column: 3/5;">
            <span class="statistic-container-header">
                Top 5 w/ Most Threats
            </span>
            {% for item in dnsfilter_top5_24h %}
            <div class="statistic-container">
                <span>{{ item }} - {{ dnsfilter_top5_24h[item] }} Threats</span> 
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="data-container" style="grid-row:3/4; grid-column: 1/2;">
        <span class="data-container-header">
            R-U-ON Information
        </span>
        <div class="statistic-container" style="grid-row: 2 / 4; grid-column: 1/4;">
            <span class="statistic-container-header">
            Network Statuses
            </span>
            <div class="chart" id="ruon_chart" style="width: 200px; height: 200px;"></div>
        </div>
        <div class="statistic-container" style="grid-row: 2 / 4; grid-column: 4/5;">
            <span class="statistic-container-header">
                Alerts
            </span>
            <span class="statistic-container-data" id="recent_alarms">
                <script>document.write(conditionalColor({{ ruon_alerts }}, 1, 2));</script>
            </span>
        </div>
    </div>
    <div class="data-container" style="grid-row:3/4; grid-column: 2/5;">
        <span class="data-container-header">
            Huntress Information
        </span>
        <div class="statistic-container" style="grid-row: 2 / 4; grid-column: 1/2;">
            <span class="statistic-container-header">
            Total Agents
            </span>
            <span class="statistic-container-data" id="recent_alarms">
                {{huntress_agents_count}}
            </span>
        </div>
        <div class="statistic-container" style="grid-row: 2 / 4; grid-column: 2/3;">
            <span class="statistic-container-header">
                Active Incidents
                <br>
                Critical | High | Low
            </span>
            <span class="statistic-container-data" id="recent_alarms">
                <script>document.write(conditionalColor({{ huntress_incidents_critical }}, 1, 2));</script>
                |
                <script>document.write(conditionalColor({{ huntress_incidents_high }}, 1, 2));</script>
                |
                <script>document.write(conditionalColor({{ huntress_incidents_low }}, 2, 1));</script>
            </span>
        </div>
        <div class="statistic-container" style="grid-row: 2 / 4; grid-column: 3/4;">
            <span class="statistic-container-header">
                Resolved Incidents
                <br>
                7d | 30d | 3m
            </span>
            <span class="statistic-container-data" id="recent_alarms">
                {{ huntress_incidents_resolved_7d }} | {{ huntress_incidents_resolved_30d }} | {{ huntress_incidents_resolved_90d }}
            </span>
        </div>
    </div>
</body>

</html>