<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-1.7.2.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta http-equiv="refresh" content="60">
    <title>Ridgeline Dashboard</title>
</head>

<body>
    <div id="popup-table" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 id="popup-table-header">Header</h2>
            </div>
            <div class="modal-body">
                <table class="ticket-table">
                    <thead>
                        <tr id="ticket-table-head">
                            <th style='width:10%'>Customer</th>
                            <th style='width:50%'>Title</th>
                            <th style='width:10%'>Last Updated</th>
                            <th style='width:10%'>Assigned</th>
                            <th style='width:10%'>Status</th>
                            <th style='width:10%'>Priority</th>
                        </tr>
                    </thead>
                    <tbody id="ticket-table">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function conditionalColor(value, red, yellow, invert = false) {
            if (value < 0) {
                return "-";
            }
            out = "<span style='color:";

            if (invert) {
                if (value <= red) {
                    out += "red;'>" + value + "</span>";
                } else if (value <= yellow) {
                    out += "yellow;'>" + value + "</span>";
                } else {
                    out += "green;'>" + value + "</span>";
                }
            } else {
                if (value >= red) {
                    out += "red;'>" + value + "</span>";
                } else if (value >= yellow) {
                    out += "yellow;'>" + value + "</span>";
                } else {
                    out += "green;'>" + value + "</span>";
                }
            }
            return out;
        }
    </script>
    <div class="data-container" style="grid-row:1/2; grid-column: 1/3;">
        <span class="data-container-header">
            Mojo Information
        </span>
        <div class="statistic-container clickable" id="open_tickets_container"
            onclick="openTicketTable('Open Tickets', {{open_tickets_json}})">
            <span class="statistic-container-header">
                Open Tickets
            </span>
            <span class="statistic-container-data" id="open_tickets">
                <script>document.write(conditionalColor({{ open_tickets }}, 50, 25));</script>
            </span>
        </div>
        <div class="statistic-container clickable" id="unassigned_tickets_container"
            onclick="openTicketTable('Unassigned Tickets', {{unassigned_tickets_json}})">
            <span class="statistic-container-header">
                Unassigned Tickets
            </span>
            <span class="statistic-container-data" id="unassigned_tickets">
                <script>document.write(conditionalColor({{ unassigned_tickets }}, 5, 2));</script>
            </span>
        </div>
        <div class="statistic-container clickable" id="inactive_tickets_container"
            onclick="openTicketTable('Tickets with no update in 15+ Days', {{inactive_tickets_json}})">
            <span class="statistic-container-header">
                Inactive Tickets
            </span>
            <span class="statistic-container-data" id="inactive_tickets">
                <script>document.write(conditionalColor({{ inactive_tickets }}, 8, 4));</script>
            </span>
        </div>
        <div class="statistic-container clickable" id="waiting_tickets_container"
            onclick="openTicketTable('Tickets On Hold or Waiting for Customer', {{waiting_tickets_json}})">
            <span class="statistic-container-header">
                On Hold
            </span>
            <span class="statistic-container-data" id="waiting_tickets">
                <script>document.write(conditionalColor({{ waiting_tickets }}, 20, 10));</script>
            </span>
        </div>
        <div class="statistic-container">
            <span class="statistic-container-header">
                Kill Ratio (24h)
            </span>
            <span class="statistic-container-data">
                <script>document.write(conditionalColor({{ kill_ratio_1d }}, 0.8, 1.0, true));</script>
            </span>
        </div>
        <div class="statistic-container">
            <span class="statistic-container-header">
                Kill Ratio (30d)
            </span>
            <span class="statistic-container-data">
                <script>document.write(conditionalColor({{ kill_ratio_30d }}, 0.8, 1.0, true));</script>
            </span>
        </div>
        <script>
            var modal = document.getElementById("popup-table");
            var modalHeader = document.getElementById("popup-table-header");
            var modalTable = document.getElementById("ticket-table");

            var span = document.getElementsByClassName("close")[0];

            var mojoClients = JSON.parse({{ users | tojson | safe}});
            var mojoGroups = JSON.parse({{ groups | tojson | safe}});
            var all_agents = JSON.parse({{ all_agents | tojson | safe}});

            var getClient = function (id) {
                for (var obj of mojoClients) {
                    if (obj.id == id) {
                        return obj;
                    }
                }
            }

            var getGroup = function (id) {
                for (var obj of mojoGroups) {
                    if (obj.id == id) {
                        console.log(obj)
                        return obj;
                    }
                }
            }

            function openTicketTable(title, data) {
                modalHeader.innerHTML = title;

                var table = "";

                for (var obj of data) {
                    if (obj.status_id < 60) {
                        var statusLoc;
                        var priorityLoc;

                        if (obj.status_id == 10) {
                            statusLoc = "New";
                        } else if (obj.status_id == 20) {
                            statusLoc = "In Progress";
                        } else if (obj.status_id == 30) {
                            statusLoc = "On Hold";
                        } else if (obj.status_id == 40) {
                            statusLoc = "<span style='color:mediumpurple'>Info. Requested</span>";
                        } else if (obj.status_id == 50) {
                            statusLoc = "Solved";
                        }

                        if (obj.priority_id == 10) {
                            priorityLoc = "Emergency";
                        } else if (obj.priority_id == 20) {
                            priorityLoc = "Urgent";
                        } else if (obj.priority_id == 30) {
                            priorityLoc = "Normal";
                        } else if (obj.priority_id == 40) {
                            priorityLoc = "Low";
                        }

                        var agent = "";
                        if (obj.assigned_to_id != null) {
                            agent = getClient(obj.assigned_to_id);
                        } else {
                            agent = { 'first_name': '<i style=\"color:red\">Unassigned</i>', 'last_name': '' };
                        }
                        var customer = getGroup(obj.company_id);
                        table +=
                            "<tr><td><div class='popuptable-item'>" + customer.name +
                            "</div></td><td><div class='popuptable-item'><a href='https://ridgelineitsolutions.mojohelpdesk.com/ma/#/tickets/" + obj.id + "' target='blank'>" + obj.title +
                            "</a></div></td><td><div class='popuptable-item'>" + timeSince(new Date(obj.updated_on).getTime()) +
                            "</div></td><td><div class='popuptable-item'>" + agent.first_name + " " + agent.last_name +
                            "</div></td><td><div class='popuptable-item'>" + statusLoc +
                            "</div></td><td><div class='popuptable-item'>" + priorityLoc +
                            "</div></td></tr>";
                    }
                }

                document.getElementById('ticket-table-head').innerHTML =
                    "<th style='width:10%'>Customer</th>" +
                    "<th style='width:50%'>Title</th>" +
                    "<th style='width:10%'>Last Updated</th>" +
                    "<th style='width:10%'>Assigned</th>" +
                    "<th style='width:10%'>Status</th>" +
                    "<th style='width:10%'>Priority</th>";

                modalTable.innerHTML = table;

                modal.style.display = "block";
            }

            span.onclick = function () {
                modal.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            function timeSince(date) {

                var seconds = Math.floor((new Date() - date) / 1000);

                var interval = seconds / 31536000;

                if (interval > 1) {
                    if (interval > 5) {
                        return "Never or Unknown"
                    }
                    return Math.floor(interval) + " years ago";
                }
                interval = seconds / 2592000;
                if (interval > 1) {
                    return Math.floor(interval) + " months ago";
                }
                interval = seconds / 86400;
                if (interval > 1) {
                    return Math.floor(interval) + " days ago";
                }
                interval = seconds / 3600;
                if (interval > 1) {
                    return Math.floor(interval) + " hours ago";
                }
                interval = seconds / 60;
                if (interval > 1) {
                    return Math.floor(interval) + " minutes ago";
                }
                return Math.floor(seconds) + " seconds ago";
            }
        </script>
    </div>
    <div class="data-container" style="grid-row:1/2; grid-column: 3/5;">
        <span class="data-container-header">
            Kaseya Information
        </span>
        <div class="statistic-container clickable" id="inactive_agents_container"
            onclick="openInactiveAgentTable('Inactive Agents (last check in 15+ days ago)', {{inactive_agents_json}})">
            <span class="statistic-container-header">
                Inactive Agents
            </span>
            <span class="statistic-container-data" id="inactive_agents">
                <script>document.write(conditionalColor({{ inactive_agents }}, 20, 10));</script>
            </span>
        </div>
        <div class="statistic-container clickable" id="out_of_date_agents_container"
            onclick="openOODAgentTable('Machines Missing 4+ Patches', {{ood_agents_json}})">
            <span class="statistic-container-header">
                Pending Patches
            </span>
            <span class="statistic-container-data" id="out_of_date_agents">
                <script>document.write(conditionalColor({{ ood_agents }}, 100, 50));</script>
            </span>
        </div>
        <div class="statistic-container clickable" id="recent_alarms_container"
            onclick="openAlarmsTable('Alarms in Last 24 Hours', {{recent_alarms_json}})">
            <span class="statistic-container-header">
                Alarms (24h)
            </span>
            <span class="statistic-container-data" id="recent_alarms">
                <script>document.write(conditionalColor({{ recent_alarms }}, 5, 1));</script>
            </span>
        </div>
        <div class="statistic-container clickable" id="out_of_date_agents_container"
            onclick="openOODAgentTable('Machines Missing 4+ Patches', {{critical_agents_json}})">
            <span class="statistic-container-header">
                Pending Critical Patches
            </span>
            <span class="statistic-container-data" id="out_of_date_agents">
                <script>document.write(conditionalColor({{ critical_agents }}, 40, 20));</script>
            </span>
        </div>
        <div class="statistic-container" style="grid-row: 2 / 4; grid-column: 1/3;">
            <span class="statistic-container-header">
                Agent Status
            </span>
            <div class="chart" id="agents_chart" style="width: 300px; height: 200px;"></div>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawChart);
                google.charts.setOnLoadCallback(drawBackupsChart);
                google.charts.setOnLoadCallback(drawCometDeviceChart);
                google.charts.setOnLoadCallback(drawRUONChart);

                online = 0;
                offline = 0;

                for (var obj of all_agents) {
                    if (obj.IsOnline) {
                        online += 1;
                    } else {
                        offline += 1;
                    }
                }

                function drawChart() {

                    var data = google.visualization.arrayToDataTable([
                        ['Status', 'Count'],
                        ['Online', online],
                        ['Offline', offline - {{ inactive_agents }}],
                ['Inactive', {{ inactive_agents }}],
                        ]);

                var options = {
                    'chartArea': { 'width': '100%', 'height': '90%' },
                    colors: ['green', 'orange', 'red'],
                    backgroundColor: { fill: 'transparent' },
                    legendTextStyle: { color: '#FFF' },
                    pieSliceText: 'value',
                    pieSliceTextStyle: { fontSize: 20 }
                };

                var chart = new google.visualization.PieChart(document.getElementById('agents_chart'));

                chart.draw(data, options);
                    }

                jobs_statuses = JSON.parse({{ jobs_statuses | tojson | safe}})

                function drawBackupsChart() {

                    var data = google.visualization.arrayToDataTable([
                        ['Status', 'Count'],
                        ['Success', jobs_statuses.Success],
                        ['Warning', jobs_statuses.Warning],
                        ['Missed', jobs_statuses.Missed],
                        ['Skipped', jobs_statuses.Skipped],
                        ['Failed', jobs_statuses.Error],
                    ]);

                    var options = {
                        'chartArea': { 'width': '90%', 'height': '90%' },
                        colors: ['green', 'yellow', 'orange', 'blue', 'red'],
                        legendTextStyle: { color: '#FFF' },
                        backgroundColor: { fill: 'transparent' },
                        pieSliceText: 'value',
                        pieSliceTextStyle: { fontSize: 20 }
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('backups_chart'));

                    chart.draw(data, options);
                }

                device_counts = JSON.parse({{ device_counts | tojson | safe }})

                function drawCometDeviceChart() {

                    var data = google.visualization.arrayToDataTable([
                        ['Status', 'Count'],
                        ['Online', device_counts.online],
                        ['Offline', device_counts.offline]
                    ]);

                    var options = {
                        'chartArea': { 'width': '90%', 'height': '90%' },
                        colors: ['green', 'red'],
                        legendTextStyle: { color: '#FFF' },
                        backgroundColor: { fill: 'transparent' },
                        pieSliceText: 'value',
                        pieSliceTextStyle: { fontSize: 20 }
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('comet_device_chart'));

                    chart.draw(data, options);
                }

                ruon_statuses = JSON.parse({{ ruon_statuses | tojson | safe }})

                function drawRUONChart() {

                    var data = google.visualization.arrayToDataTable([
                        ['Status', 'Count'],
                        ['Online', ruon_statuses.ON - {{ruon_alerts}}],
                        ['Offline', {{ruon_alerts}}]
                    ]);

                    var options = {
                        'chartArea': { 'width': '90%', 'height': '90%' },
                        colors: ['green', 'red'],
                        legend: 'none',
                        backgroundColor: { fill: 'transparent' },
                        pieSliceText: 'value',
                        pieSliceTextStyle: { fontSize: 20 }
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('ruon_chart'));

                    chart.draw(data, options);
                }
            </script>
        </div>
        <script>
            function openInactiveAgentTable(title, data) {
                modalHeader.innerHTML = title;

                var table = "";

                for (var obj of data) {
                    table +=
                        "<tr><td><div class='popuptable-item'>" + obj.MachineId +
                        "</div></td><td><div class='popuptable-item'>" + obj.MachineName +
                        "</div></td><td><div class='popuptable-item'>" + obj.GroupId +
                        "</div></td><td><div class='popuptable-item'>" + timeSince(new Date(obj.LastCheckInTime).getTime()) +
                        "</div></td><td><div class='popuptable-item'>" + obj.MachineType +
                        "</div></td><td><div class='popuptable-item'>" + obj.LastLoggedOnUser +
                        "</div></td></tr>";

                }

                document.getElementById('ticket-table-head').innerHTML =
                    "<th style='width:10%'>Agent</th>" +
                    "<th style='width:10%'>Computer Name</th>" +
                    "<th style='width:10%'>Machine Group</th>" +
                    "<th style='width:10%'>Last Check In</th>" +
                    "<th style='width:10%'>Machine Type</th>" +
                    "<th style='width:10%'>Last Logged In User</th>";

                modalTable.innerHTML = table;

                modal.style.display = "block";
            }

            function openOODAgentTable(title, data) {
                modalHeader.innerHTML = title;

                var table = "";

                for (var obj of data) {
                    table +=
                        "<tr><td><div class='popuptable-item'>" + obj.TotalVulnerabilitiesCount +
                        "</div></td><td><div class='popuptable-item'>" + obj.MachineName +
                        "</div></td><td><div class='popuptable-item'>" + obj.GroupName +
                        "</div></td><td><div class='popuptable-item'>" + obj.ComplianceMessage +
                        "</div></td><td><div class='popuptable-item'>" + obj.VulnerabilityCategory +
                        "</div></td><td><div class='popuptable-item'>" + timeSince(new Date(obj.LastPatchDeploymentDateTime).getTime()) +
                        "</div></td></tr>";

                }

                document.getElementById('ticket-table-head').innerHTML =
                    "<th style='width:5%'>Number</th>" +
                    "<th style='width:10%'>Agent</th>" +
                    "<th style='width:10%'>Machine Group</th>" +
                    "<th style='width:10%'>Message</th>" +
                    "<th style='width:10%'>Category</th>" +
                    "<th style='width:10%'>Last Patch Deployment</th>";

                modalTable.innerHTML = table;

                modal.style.display = "block";
            }

            function openAlarmsTable(title, data) {
                modalHeader.innerHTML = title;

                var table = "";

                for (var obj of data) {
                    table +=
                        "<tr><td><div class='popuptable-item'>" + getAgentByID(obj.AgentId).MachineId +
                        "</div></td><td><div class='popuptable-item'>" + obj.AlarmName +
                        "</div></td><td><div class='popuptable-item' title='" + obj.AlarmMessage + "'>" + obj.AlarmSubject +
                        "</div></td></tr>";
                }

                document.getElementById('ticket-table-head').innerHTML =
                    "<th style='width:20%'>Agent</th>" +
                    "<th style='width:20%'>Type</th>" +
                    "<th style='width:60%'>Alarm Message (hover for more details)</th>";

                modalTable.innerHTML = table;

                modal.style.display = "block";
            }

            function getAgentByID(agent_id) {
                for (var obj of all_agents) {
                    if (obj.AgentId == agent_id) {
                        return obj;
                    }
                }
            }
        </script>
    </div>
    <div class="data-container" style="grid-row:2/3; grid-column: 1/2;">
        <span class="data-container-header">
            Comet Information
        </span>
        <div class="statistic-container" style="grid-row: 2 / 4;">
            <span class="statistic-container-header">
                Device Status
            </span>
            <div class="chart" id="comet_device_chart" style="width: 300px; height: 200px;"></div>
        </div>
        <div class="statistic-container" style="grid-row: 2 / 4;">
            <span class="statistic-container-header">
                Backup Jobs (24h)
            </span>
            <div class="chart" id="backups_chart" style="width: 300px; height: 200px;"></div>
        </div>
    </div>
    <div class="data-container" style="grid-row:2/3; grid-column: 2/5;">
        <span class="data-container-header" style="grid-column:1/3">
            DNSFilter Information (2h)
        </span>
        <div class="statistic-container" style="grid-row: 2 / 3; grid-column: 1/2;">
            <span class="statistic-container-header">
                Blocked Requests
            </span>
            <span class="statistic-container-data" id="dnsfilter_blocks">
                {{dnsfilter_numbers_2h['blocked']}}
            </span>
        </div>
        <div class="statistic-container" style="grid-row: 2 / 3; grid-column: 2/3;">
            <span class="statistic-container-header">
                Threats
            </span>
            <span class="statistic-container-data" id="dnsfilter_threats">
                {{dnsfilter_numbers_2h['threats']}}
            </span>
        </div>
        <div class="statistic-container" style="grid-row: 3 / 4; grid-column: 1/3;">
            <span class="statistic-container-header">
                Top 5 w/ Most Threats
            </span>
            {% for item in dnsfilter_top5_2h %}
            <div class="statistic-container">
                <span>{{ item }} - {{ dnsfilter_top5_2h[item] }} Threats</span> 
            </div>
            {% endfor %}
        </div>
        <span class="data-container-header" style="grid-column:3/5">
            DNSFilter Information (24h)
        </span>
        <div class="statistic-container" style="grid-row: 2 / 3; grid-column: 3/4;">
            <span class="statistic-container-header">
                Blocked Requests
            </span>
            <span class="statistic-container-data" id="dnsfilter_blocks">
                {{dnsfilter_numbers_24h['blocked']}}
            </span>
        </div>
        <div class="statistic-container" style="grid-row: 2 / 3; grid-column: 4/5;">
            <span class="statistic-container-header">
                Threats
            </span>
            <span class="statistic-container-data" id="dnsfilter_threats">
                {{dnsfilter_numbers_24h['threats']}}
            </span>
        </div>
        <div class="statistic-container" style="grid-row: 3 / 4; grid-column: 3/5;">
            <span class="statistic-container-header">
                Top 5 w/ Most Threats
            </span>
            {% for item in dnsfilter_top5_24h %}
            <div class="statistic-container">
                <span>{{ item }} - {{ dnsfilter_top5_24h[item] }} Threats</span> 
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="data-container" style="grid-row:3/4; grid-column: 1/2;">
        <span class="data-container-header">
            R-U-ON Information
        </span>
        <div class="statistic-container" style="grid-row: 2 / 4; grid-column: 1/3;">
            <span class="statistic-container-header">
            Network Statuses
            </span>
            <div class="chart" id="ruon_chart" style="width: 200px; height: 200px;"></div>
        </div>
        <div class="statistic-container" style="grid-row: 2 / 4; grid-column: 3/5;">
            <span class="statistic-container-header">
                Alerts
            </span>
            <span class="statistic-container-data" id="recent_alarms">
                <script>document.write(conditionalColor({{ ruon_alerts }}, 1, 2));</script>
            </span>
        </div>
    </div>
    <div class="data-container" style="grid-row:3/4; grid-column: 2/5;">
        <span class="data-container-header">
            Huntress Information
        </span>
        <div class="statistic-container" style="grid-row: 2 / 4; grid-column: 1/2;">
            <span class="statistic-container-header">
            Total Agents
            </span>
            <span class="statistic-container-data" id="recent_alarms">
                {{huntress_agents_count}}
            </span>
        </div>
        <div class="statistic-container" style="grid-row: 2 / 4; grid-column: 2/3;">
            <span class="statistic-container-header">
                Active Incidents
                <br>
                Critical | High | Low
            </span>
            <span class="statistic-container-data" id="recent_alarms">
                <script>document.write(conditionalColor({{ huntress_incidents_critical }}, 1, 2));</script>
                |
                <script>document.write(conditionalColor({{ huntress_incidents_high }}, 1, 2));</script>
                |
                <script>document.write(conditionalColor({{ huntress_incidents_low }}, 2, 1));</script>
            </span>
        </div>
        <div class="statistic-container" style="grid-row: 2 / 4; grid-column: 3/4;">
            <span class="statistic-container-header">
                Resolved Incidents
                <br>
                7d | 30d | 3m
            </span>
            <span class="statistic-container-data" id="recent_alarms">
                {{ huntress_incidents_resolved_7d }} | {{ huntress_incidents_resolved_30d }} | {{ huntress_incidents_resolved_90d }}
            </span>
        </div>
    </div>
</body>

</html>